@import "tailwindcss";

@theme inline {
  --font-heading: "Sora", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-card: "DM Sans", sans-serif;

  --color-primary: #1b4fd8;
  --color-primary-light: #eef3ff;
  --color-primary-dark: #0f2fa8;

  --color-text-dark: #1a1f2e;
  --color-text-muted: #6b7280;
  --color-text-light: #9ca3af;

  --color-success: #12b76a;
  --color-success-bg: #ecfdf5;
  --color-emerald: #34d399;
  --color-emerald-light: #6ee7b7;

  --color-danger: #f04438;
  --color-warning: #f79009;
  --color-yellow: #fcd34d;

  --color-border: #e5e8ef;
  --color-bg-page: #f8f9fc;
  --color-placeholder: #c4c9d4;
  --color-tab-bg: #dbe0e8;

  --color-purple: #7c3aed;
  --color-teal-dark: #047857;

  --color-info-blue: #1340b8;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--color-bg-page);
    color: var(--color-text-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
